.firstPlayer {
  width: 53px;
  height: 53px;
  background-color: rgb(65, 12, 12);
  border-radius: 50%;
}

.secondPlayer {
  width: 53px;
  height: 53px;
  background-color: red;
  border-radius: 50%;
}

.styleOfCells {
  width: 50px;
  height: 50px;
  background-color: rgb(77, 231, 193);
  cursor: pointer;
  margin: 3px;
}

#button {
  width: 70px;
  height: 40px;
  margin-left: 5px;
  margin-top: 7vh;
  border-radius: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
